@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root{
    --white: #fff;
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-voilet: hsl(279, 6%, 55%);
    --very-dark-voilet: hsl(278, 68%, 11%);
    --border-purple: hsl(278, 94%, 30%);
    --linear-gradiant: to right hsl(249, 99%, 64%) hsl(278, 94%, 30%);
    --error-red: hsl(0, 100%, 66%);

}


*,
*::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: inherit;
    width: 100vw;
    position: relative;
    overflow-y: hidden;

    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */

    font-family: 'Space Grotesk';
}
.card-section{
    height: 40vh;
    width: 100%;
    background: url('./images/bg-main-mobile.png') no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.two-cards{
    width: 92%;
    height: 90%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.two-cards > div{
    height: 11rem;
    width: 20rem;
    /* position: relative; */
    border-radius: .4rem;
}
.card-1{
    position: absolute;
    right: 0;
    top: 16%;
    background: url('./images/bg-card-back.png') no-repeat center;
    background-size: contain;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: end;

    padding: 0 2rem;
}
.card-back > p{
    font-size: .8rem;
    font-weight: 700;
    padding-bottom: 2px;
    color: var(--light-grayish-violet);
}   
.card-2{
    position: absolute;
    top: 60%;
    left: 0;
    background: url('./images/bg-card-front.png') no-repeat center;
    background-size: contain;
    z-index: 20;

    padding: 1.1rem 1rem;
}
.card-front{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.circles{
    display: flex;
    align-items: center;
    gap: .3rem;
    width: 100%;
    height: auto;
    /* background: #000; */
}
.big-circle{
    height: 2rem;
    width: 2rem;
    background: #fff;
    border-radius: 50%;
}
.small-circle{
    height: .7rem;
    width: .7rem;
    border-radius: 50%;

    /* background: #fff; */
    border: 1px solid #fff;
}
.name-nd-exp{
    display: flex;
    justify-content: space-between;
}
.card-number{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: inherit;
}
.card-number h1 span{
    font-size: 1rem;
    font-family: var(--font);
    font-weight: 500;
    color: var(--light-grayish-violet);
    letter-spacing: .14rem;
}
.card-owner{
    font-size: .7rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 500;

    color: var(--light-grayish-violet);
}

.card-exp{
    font-size: .7rem;
    letter-spacing: .1rem;
    font-weight: 500;

    color: var(--light-grayish-violet);
}

.input-section{
    height: 50%;
    width: 100%;
    padding: 0 1rem;
}
.details{
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    margin-bottom: 3rem;
    gap: 1.1rem;
    /* text-transform: uppercase; */
    letter-spacing: .05rem;
}
.details > div{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.details > div > label{
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 500;
}
.name-div > .error{
    color: var(--error-red);
    font-size: .9rem;
    font-weight: 700;
}
.name-div > input.whenError{
    border: 2px solid var(--error-red);
}
.errorNumber{
    color: var(--error-red);
    font-size: .9rem;
    font-weight: 700;
}
input{
    border: 2px solid var(--light-grayish-violet);
    font-family: "Space Grotesk";
    font-size: 1rem;
    font-weight: 500;
    color: var(--very-dark-voilet);
    padding: .8rem;
    width: 100%;
    border-radius: .5rem;
    outline: none;
    caret-color: var(--very-dark-voilet);
}
input:focus{
    border: 2px solid var(--border-purple);
}
input::placeholder{
    color: var(--light-grayish-violet);
    font-size: 1rem;
    font-family: "Space Grotesk", sans-serif;
}
.exp-error,
.cvv-error{
    color: var(--error-red);
    font-size: .9rem;
    font-weight: 700;
}
.flex{
    display: flex;
    gap: 0.5rem;
}
.date-div{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.details .exp-cvv-div{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.cvv-div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 50%;
}
.confirm-btn{
    border: none !important;
    outline: none;
    color: var(--light-grayish-violet);
    background: var(--very-dark-voilet);
    font-family: "Space Grotesk";
    font-style: 1.1rem;
    padding: 1rem 0;
    margin-top: 1rem;
}
.successfull-msg{
    height: 74vh;
    width: 100%;
    position: absolute;
    top: 140vh;
    background: #fff;
    transition: top .4s ease;
}
.success{
    top: 40vh;
}
.added-div{
    padding: 0 1rem;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2.5rem;
}
.done{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
}
.tick{
    height: 5rem;
    width: 5rem;
    background: url('./images/icon-complete.svg') no-repeat center;
    border-radius: 50%;
}
.main-msg{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.main-msg > h2{
    color: var(--very-dark-voilet);
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    font-weight: 500;
}
.main-msg > p{
    color: var(--dark-grayish-violet);
    letter-spacing: .02rem;
    font-weight: 500;
}
.continue-btn{
    font-family: "Space Grotesk";
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    background: var(--very-dark-voilet);
    color: var(--light-grayish-violet);
    font-size: 1.1rem;
}
@media screen and (width >= 680px){
    .two-cards > div{
        height: 11rem;
        width: 20rem;
    }
    .card-1{
        right: 10%;
        padding: 0 3rem;
    }
    .card-2{
        gap: 2rem;
        left: 10%;
        padding: 2rem 1.5rem;
    }
    
}

@media screen and (width >= 1300px){
    main{
        height: 100vh;
        display: flex;
        align-items: center;
        overflow-x: hidden;
    }
    .input-section{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .details{
        width: 60%;
        margin: 0;
    }
    .card-section{
        height: 100%;
        background: url('./images/bg-main-desktop.png') no-repeat;
        align-items: center;
    }
    .two-cards{
        width: inherit;
        height: inherit;
        align-items: center;
        justify-content: center;
    }
    .two-cards > div{
        height: 14rem;
        width: 26rem;
    }
    .card-1{
        left: 35%;
        top: 50%;
    }
    .card-2{
        left:20%;
        top: 15%;
    }
    #number{
        font-weight: 500;
        font-size: 1.6rem;
    }
    .name-nd-exp p{
        font-size: 1rem;
    }
    .card-1 > p{
        font-size: 1rem;
    }
    .successfull-msg{
        top: 0;
        right: -100%;
        height: 100vh;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: right .4s ease;
    }
    .added-div{
        width: 50%;
    }
    .success{
        right: 0;
    }
}
@media screen and (height <= 530px){
    .details{
        margin-top: 10rem;
    }
    .successfull-msg{
        top: 100%;
        height: 80%;
    }
    .success{
        top: 30%;
    }
}
